@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

*:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

*:hover {
  outline: none !important;
}

a, button, div, section {
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

@layer base {
  * {
    @apply focus:outline-none focus-visible:outline-none;
  }
}
