@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

*:focus,
*:focus-visible {
  outline: none !important;
}

footer,
footer *,
footer::before,
footer::after,
footer *::before,
footer *::after {
  background-image: none !important;
}

@layer base {
  * {
    @apply focus:outline-none focus-visible:outline-none;
  }
}
