@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

*:focus,
*:focus-visible {
  outline: none !important;
}

.border-2.border-gray-800,
.border-2.border-white\/20 {
  border-color: transparent !important;
}

@layer base {
  * {
    @apply focus:outline-none focus-visible:outline-none;
  }
}
