@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white !important;
  background-image: none !important;
}

html, body, #root {
  background: white !important;
  background-image: none !important;
}
